*.img filter=lfs diff=lfs merge=lfs -text
*.tar.* filter=lfs diff=lfs merge=lfs -text
*.iso filter=lfs diff=lfs merge=lfs -text
*.bin filter=lfs diff=lfs merge=lfs -text
*.zst filter=lfs diff=lfs merge=lfs -text
initramfs/sys filter=lfs diff=lfs merge=lfs -text
proyect-renault12-resintetizer/tetris.prfs filter=lfs diff=lfs merge=lfs -text
iso/boot filter=lfs diff=lfs merge=lfs -text
iso/rootfs.img filter=lfs diff=lfs merge=lfs -text
linux-0716f9b9338a/Kbuild filter=lfs diff=lfs merge=lfs -text
linux-0716f9b9338a/sound filter=lfs diff=lfs merge=lfs -text
sounds/ui filter=lfs diff=lfs merge=lfs -text
iso/bin filter=lfs diff=lfs merge=lfs -text
proyect-renault12-resintetizer/overworld.mid filter=lfs diff=lfs merge=lfs -text
proyect-renault12-resintetizer/REPEAT-ALAN-AZ.mid filter=lfs diff=lfs merge=lfs -text
rootfs/boot filter=lfs diff=lfs merge=lfs -text
gui/desktop filter=lfs diff=lfs merge=lfs -text
iso/home filter=lfs diff=lfs merge=lfs -text
linux-0716f9b9338a/System.map filter=lfs diff=lfs merge=lfs -text
proyect-renault12-resintetizer/doom.prfs filter=lfs diff=lfs merge=lfs -text
proyect-renault12-sintetizer/notes.py filter=lfs diff=lfs merge=lfs -text
iso/tmp filter=lfs diff=lfs merge=lfs -text
linux-0716f9b9338a/drivers filter=lfs diff=lfs merge=lfs -text
linux-0716f9b9338a/mm filter=lfs diff=lfs merge=lfs -text
proyect-renault12-resintetizer/REPEAT-ALAN-AZ.prfs filter=lfs diff=lfs merge=lfs -text
proyect-renault12-resintetizer/rush_e.mid filter=lfs diff=lfs merge=lfs -text
rootfs/usr filter=lfs diff=lfs merge=lfs -text
iso/lib filter=lfs diff=lfs merge=lfs -text
linux-0716f9b9338a/init filter=lfs diff=lfs merge=lfs -text
proyect-renault12-resintetizer/underground.mid filter=lfs diff=lfs merge=lfs -text
proyect-renault12-sintetizer/rush_e.prfs filter=lfs diff=lfs merge=lfs -text
rootfs/var filter=lfs diff=lfs merge=lfs -text
initramfs/busybox-1.36.1.tar.bz2 filter=lfs diff=lfs merge=lfs -text
initramfs/init filter=lfs diff=lfs merge=lfs -text
linux-0716f9b9338a/scripts filter=lfs diff=lfs merge=lfs -text
linux-0716f9b9338a/virt filter=lfs diff=lfs merge=lfs -text
linux-0716f9b9338a/vmlinux.a filter=lfs diff=lfs merge=lfs -text
proyect-renault12-resintetizer/Katyusha.prfs filter=lfs diff=lfs merge=lfs -text
proyect-renault12-sintetizer/examples filter=lfs diff=lfs merge=lfs -text
rootfs/run filter=lfs diff=lfs merge=lfs -text
iso/lib64 filter=lfs diff=lfs merge=lfs -text
iso/media filter=lfs diff=lfs merge=lfs -text
linux-0716f9b9338a/linux-0716f9b9338a filter=lfs diff=lfs merge=lfs -text
rootfs/mnt filter=lfs diff=lfs merge=lfs -text
rootfs/opt filter=lfs diff=lfs merge=lfs -text
config-carlos-io.sh filter=lfs diff=lfs merge=lfs -text
gui/README.md filter=lfs diff=lfs merge=lfs -text
initramfs/etc filter=lfs diff=lfs merge=lfs -text
iso/opt filter=lfs diff=lfs merge=lfs -text
linux-0716f9b9338a/rust filter=lfs diff=lfs merge=lfs -text
linux-0716f9b9338a/samples filter=lfs diff=lfs merge=lfs -text
logo3.txt filter=lfs diff=lfs merge=lfs -text
logo-ruby-B.txt filter=lfs diff=lfs merge=lfs -text
proyect-renault12-sintetizer/Rasputin[[:space:]]-[[:space:]]Boney[[:space:]]M.prfs filter=lfs diff=lfs merge=lfs -text
initramfs/tmp filter=lfs diff=lfs merge=lfs -text
iso/usr filter=lfs diff=lfs merge=lfs -text
proyect-renault12-resintetizer/Katyusha.mid filter=lfs diff=lfs merge=lfs -text
config-actual.txt filter=lfs diff=lfs merge=lfs -text
linux-0716f9b9338a/COPYING filter=lfs diff=lfs merge=lfs -text
initramfs/dev filter=lfs diff=lfs merge=lfs -text
linux-0716f9b9338a/fs filter=lfs diff=lfs merge=lfs -text
proyect-renault12-sintetizer/main.py filter=lfs diff=lfs merge=lfs -text
*v* filter=lfs diff=lfs merge=lfs -text
boot/splash filter=lfs diff=lfs merge=lfs -text
linux-0716f9b9338a/kernel filter=lfs diff=lfs merge=lfs -text
proyect-renault12-resintetizer/underground.prfs filter=lfs diff=lfs merge=lfs -text
proyect-renault12-sintetizer/song.wav filter=lfs diff=lfs merge=lfs -text
CarlOS-0.1.iso filter=lfs diff=lfs merge=lfs -text
probe.img filter=lfs diff=lfs merge=lfs -text
linux-0716f9b9338a/CREDITS filter=lfs diff=lfs merge=lfs -text
linux-0716f9b9338a/LICENSES filter=lfs diff=lfs merge=lfs -text
proyect-renault12-sintetizer/overworld.prfs filter=lfs diff=lfs merge=lfs -text
web/index.html filter=lfs diff=lfs merge=lfs -text
CarlOS-0.2-Alpha-RubyOfSistem.iso filter=lfs diff=lfs merge=lfs -text
file-bootCOS.bt filter=lfs diff=lfs merge=lfs -text
initramfs.img filter=lfs diff=lfs merge=lfs -text
gui/iniciar-gui.sh filter=lfs diff=lfs merge=lfs -text
linux-0716f9b9338a/Documentation filter=lfs diff=lfs merge=lfs -text
linux-0716f9b9338a/include filter=lfs diff=lfs merge=lfs -text
linux-0716f9b9338a/modules.builtin filter=lfs diff=lfs merge=lfs -text
linux-0716f9b9338a/vmlinux.symvers filter=lfs diff=lfs merge=lfs -text
proyect-renault12-sintetizer/underground.prfs filter=lfs diff=lfs merge=lfs -text
rootfs/etc filter=lfs diff=lfs merge=lfs -text
linux-0716f9b9338a/MAINTAINERS filter=lfs diff=lfs merge=lfs -text
proyect-renault12-resintetizer/rush_e.prfs filter=lfs diff=lfs merge=lfs -text
rootfs/dev filter=lfs diff=lfs merge=lfs -text
assets/wallpapers filter=lfs diff=lfs merge=lfs -text
carlos-xorg/copiar-con-deps.sh filter=lfs diff=lfs merge=lfs -text
linux-0716f9b9338a/vmlinux.unstripped filter=lfs diff=lfs merge=lfs -text
proyect-renault12-resintetizer/notes.py filter=lfs diff=lfs merge=lfs -text
proyect-renault12-sintetizer/Katyusha.prfs filter=lfs diff=lfs merge=lfs -text
estructura.txt filter=lfs diff=lfs merge=lfs -text
iso/sbin filter=lfs diff=lfs merge=lfs -text
proyect-renault12-resintetizer/main.py filter=lfs diff=lfs merge=lfs -text
proyect-renault12-resintetizer/__pycache__ filter=lfs diff=lfs merge=lfs -text
rootfs/lib filter=lfs diff=lfs merge=lfs -text
rootfs/sys filter=lfs diff=lfs merge=lfs -text
web/firebase.json filter=lfs diff=lfs merge=lfs -text
build-img.sh filter=lfs diff=lfs merge=lfs -text
assets/icons filter=lfs diff=lfs merge=lfs -text
iso/mnt filter=lfs diff=lfs merge=lfs -text
iso/var filter=lfs diff=lfs merge=lfs -text
rootfs/home filter=lfs diff=lfs merge=lfs -text
carlos-xorg/README.md filter=lfs diff=lfs merge=lfs -text
linux-0716f9b9338a/tools filter=lfs diff=lfs merge=lfs -text
rootfs/tmp filter=lfs diff=lfs merge=lfs -text
parche-readonly.sh filter=lfs diff=lfs merge=lfs -text
gui/xinitrc filter=lfs diff=lfs merge=lfs -text
initramfs/bin filter=lfs diff=lfs merge=lfs -text
iso/root filter=lfs diff=lfs merge=lfs -text
iso/run filter=lfs diff=lfs merge=lfs -text
proyect-renault12-resintetizer/Rasputin[[:space:]]-[[:space:]]Boney[[:space:]]M.prfs filter=lfs diff=lfs merge=lfs -text
proyect-renault12-sintetizer/parser.py filter=lfs diff=lfs merge=lfs -text
rootfs/root filter=lfs diff=lfs merge=lfs -text
sounds/boot filter=lfs diff=lfs merge=lfs -text
initramfs/proc filter=lfs diff=lfs merge=lfs -text
initramfs/sbin filter=lfs diff=lfs merge=lfs -text
iso/packages filter=lfs diff=lfs merge=lfs -text
linux-0716f9b9338a/certs filter=lfs diff=lfs merge=lfs -text
proyect-renault12-sintetizer/__pycache__ filter=lfs diff=lfs merge=lfs -text
rootfs/sbin filter=lfs diff=lfs merge=lfs -text
parche-noxinit.sh filter=lfs diff=lfs merge=lfs -text
initramfs/init.bk filter=lfs diff=lfs merge=lfs -text
iso/dev filter=lfs diff=lfs merge=lfs -text
linux-0716f9b9338a/crypto filter=lfs diff=lfs merge=lfs -text
proyect-renault12-sintetizer/doom-gameboy-casere-ver.mp3 filter=lfs diff=lfs merge=lfs -text
proyect-renault12-sintetizer/doom.prfs filter=lfs diff=lfs merge=lfs -text
proyect-renault12-sintetizer/synth.py filter=lfs diff=lfs merge=lfs -text
carlos-xorg/parche-xorg-bin.sh filter=lfs diff=lfs merge=lfs -text
initramfs/usr filter=lfs diff=lfs merge=lfs -text
iso/etc filter=lfs diff=lfs merge=lfs -text
iso/file-bootCOS.bt filter=lfs diff=lfs merge=lfs -text
linux-0716f9b9338a/vmlinux.o filter=lfs diff=lfs merge=lfs -text
LEEME.txt filter=lfs diff=lfs merge=lfs -text
proyect-renault12-resintetizer/overworld.prfs filter=lfs diff=lfs merge=lfs -text
proyect-renault12-sintetizer/REPEAT-ALAN-AZ.prfs filter=lfs diff=lfs merge=lfs -text
rootfs/lib64 filter=lfs diff=lfs merge=lfs -text
rootfs/media filter=lfs diff=lfs merge=lfs -text
assets/logos filter=lfs diff=lfs merge=lfs -text
initramfs/busybox-1.36.1 filter=lfs diff=lfs merge=lfs -text
linux-0716f9b9338a/lib filter=lfs diff=lfs merge=lfs -text
linux-0716f9b9338a/security filter=lfs diff=lfs merge=lfs -text
linux-0716f9b9338a/usr filter=lfs diff=lfs merge=lfs -text
proyect-renault12-sintetizer/tetris.prfs filter=lfs diff=lfs merge=lfs -text
rootfs/proc filter=lfs diff=lfs merge=lfs -text
rootfs/srv filter=lfs diff=lfs merge=lfs -text
linux-0716f9b9338a/arch filter=lfs diff=lfs merge=lfs -text
rootfs/rootfs.img filter=lfs diff=lfs merge=lfs -text
*etc* filter=lfs diff=lfs merge=lfs -text
linux-0716f9b9338a/net filter=lfs diff=lfs merge=lfs -text
linux-0716f9b9338a/README filter=lfs diff=lfs merge=lfs -text
proyect-renault12-resintetizer/Rasputin[[:space:]]-[[:space:]]Boney[[:space:]]M.mid filter=lfs diff=lfs merge=lfs -text
boot/scripts filter=lfs diff=lfs merge=lfs -text
iso/proc filter=lfs diff=lfs merge=lfs -text
iso/sys filter=lfs diff=lfs merge=lfs -text
linux-0716f9b9338a/block filter=lfs diff=lfs merge=lfs -text
linux-0716f9b9338a/modules.builtin.modinfo filter=lfs diff=lfs merge=lfs -text
carlos-xorg/meter-xorg.sh filter=lfs diff=lfs merge=lfs -text
linux-0716f9b9338a/built-in.a filter=lfs diff=lfs merge=lfs -text
linux-0716f9b9338a/vmlinux filter=lfs diff=lfs merge=lfs -text
web/404.html filter=lfs diff=lfs merge=lfs -text
carlosbeep.c filter=lfs diff=lfs merge=lfs -text
logo2.txt filter=lfs diff=lfs merge=lfs -text
logo.txt filter=lfs diff=lfs merge=lfs -text
boot/animation filter=lfs diff=lfs merge=lfs -text
gui/carlos-term filter=lfs diff=lfs merge=lfs -text
initramfs/newroot filter=lfs diff=lfs merge=lfs -text
linux-0716f9b9338a/Kconfig filter=lfs diff=lfs merge=lfs -text
proyect-renault12-resintetizer/tetris.mid filter=lfs diff=lfs merge=lfs -text
renault12/docs filter=lfs diff=lfs merge=lfs -text
iso/srv filter=lfs diff=lfs merge=lfs -text
linux-0716f9b9338a/built-in-fixup.a filter=lfs diff=lfs merge=lfs -text
linux-0716f9b9338a/io_uring filter=lfs diff=lfs merge=lfs -text
rootfs/bin filter=lfs diff=lfs merge=lfs -text
build-iso.sh filter=lfs diff=lfs merge=lfs -text
logo-ruby-A.txt filter=lfs diff=lfs merge=lfs -text
linux-0716f9b9338a/ipc filter=lfs diff=lfs merge=lfs -text
linux-0716f9b9338a/Makefile filter=lfs diff=lfs merge=lfs -text
proyect-renault12-resintetizer/doom.mid filter=lfs diff=lfs merge=lfs -text
Tux.png filter=lfs diff=lfs merge=lfs -text
